
header {
    height: 6.25em;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;

    border-radius: 0;


    height: 100%;
}

.logoDiv {
    margin-right: 28.125em;
}

.darkModeDiv {
    background-color: black;
}
